<body>
  <div class="card card-container">
    <form name="form" (ngSubmit)="onSubmit()" #f="ngForm" novalidate>
      <div class="form-group">
        <label for="displayName">Ново име</label>
        <input type="text" class="form-control" name="displayName" [(ngModel)]="form.displayName" #displayName="ngModel" />
        <div class="alert alert-danger" role="alert" *ngIf="f.submitted && !form.displayName && !form.email">
          Трябва да попълните поне едно поле: Ново име или Нов имейл!
        </div>
      </div>
      <div class="form-group">
        <label for="email">Нов имейл</label>
        <input type="text" class="form-control" name="email" [(ngModel)]="form.email" #email="ngModel" />
        <div class="alert alert-danger" role="alert" *ngIf="form.email && !validateEmail(form.email)">
          Невалиден имейл формат!
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="errorMessage">{{ errorMessage }}</div>
      </div>
  
      <div class="alert alert-success text-center font-weight-bold" role="alert" *ngIf="successMessage">{{ successMessage }}</div>
  
      <div class="form-group btn-position">
        <button [hidden]="showButton" class="btn btn-add">Промени</button>
      </div>
    </form>
  </div>
</body>
